.header-Toolbar {
    background-color: #dbbe79;
    /* background-image: url(https://photogora.ru/img/product/big/3400/1473674698192733400.jpg); */
    display: flex;
    justify-content: space-between;
}
